/* ==========================================================================
   General
   ========================================================================== */

/* Most of the stuff is here is copied from H5BP and customized.
 */

::-moz-selection {
	background: $accent1;
	color: $base3;
	text-shadow: none;
}

::selection {
	background: $accent1;
	color: $base3;
	text-shadow: none;
}

a,
a:visited {
	color: $accent1;
}
a:focus,
a:hover {
	color: $accent2;
}
a:active {
	color: $accent3;
}

}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
blockquote {
	margin: 1em 0;
	padding-left: 2em;
}
dd {
	margin: 0 0 0 1em;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;

	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;

}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
	padding: 0 0 0 2em;
}