/* ==========================================================================
   Header
   ========================================================================== */

header[ role="banner" ] {
	background-color: $base2;
	overflow: hidden;
	padding: 1em 0;

	nav {
		color: $base01;

		ol {
			list-style-type: decimal;

			a,
			a:visited {
				//@extend .sans, .x-large;

				color: $base03;
				display: block;
				font-weight: 700;
				margin: 0;
				text-decoration: none;

				&::before {
					content: "";

					@extend .sans, .xx-large;
					display: none;
				}
			}
			a:focus,
			a:hover {
				color: $accent2;
			}
			a:active {
				color: $accent3;
			}
		}
	}
}