/* ==========================================================================
   Header
   ========================================================================== */

header[ role="banner" ] a[ rel="home"] {
	display: block;
	-webkit-animation: drop-in 1s ease-in;
	-webkit-transition-property: all;
}

@-webkit-keyframes drop-in {
	0% {
		opacity: 0;
		-webkit-transform: translateX( -10em );;
	}
	80% {
		-webkit-transform: translateX( 2em );
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX( 0 );
	}
}

header[ role="banner" ] {
	background-color: $base2;
	overflow: hidden;
	padding: 1em 0;

	nav {
		color: $base01;

		ol {
			list-style-type: decimal;

			a,
			a:visited {
				//@extend .sans, .x-large;

				color: $base03;
				display: block;
				font-weight: 700;
				margin: 0;
				text-decoration: none;

				&::before {
					content: "";

					@extend .sans, .xx-large;
					display: none;
				}
			}
			a:focus,
			a:hover {
				color: $accent2;
			}
			a:active {
				color: $accent3;
			}
		}
	}
}

@include media_query_2 {
	body {
		margin-right: 10em;
	}
	header[ role="banner" ] nav {
		background-color: $base03;
		border-left: thin solid mix( $base01, $base03 );
		@include box-sizing( border-box );
		height: 100%;
		position: fixed;
			top: 0;
			right: 0;
		text-align: center;
		width: 10em;

		.nav-link {
			display: block;
			font-style: italic;
			margin: 1em 0;
			text-decoration: none;
		}
		ol {
			border-top: thin solid mix( $base01, $base03 );
			list-style-type: none;
			padding-left: 0;

			a,
			a:visited {
				color: $base2;
				//font-size: 0;
				//line-height: 0;
				border-bottom: thin solid mix( $base01, $base03 );
				padding: .5em;
				position: relative;

				&::before {
					content: attr( data-number );

					background-color: $base03;
					@include border-radius( 1em );
					color: $base3;
					display: block;
					line-height: 1;
					margin: 0 auto;
					text-align: center;
					vertical-align: middle;
					width: 1em;
				}
			}
			a:focus,
			a:hover {
				background-color: $accent2;
				color: $base3;
			}
			a:active {
				background-color: $accent3;
				color: $base3;
			}
		}
		
	}
}

/*
@include media_query_2 {
	.no-touch {
		body {
			margin-right: 8em;
		}
		header[ role="banner" ] nav {
			background-color: $base03;
			color: $base01;
			height: 100%;
			position: fixed;
				top: 0;
				right: 0;
			text-align: center;
			width: 8em;
		}
	}
}

header[ role="banner" ] nav {
	ol {
		padding-left: 0;

		a,
		a:visited {
			@extend .sans, .x-large, .font-bold;

			background-color: $base3;
			@include border-radius( 2em );
			color: $base03;
			display: inline-block;
			height: 1em;
			line-height: 1;
			margin: 0;
			padding: .5em 0;
			text-align: center;
			text-decoration: none;
			width: 2em;
		}
		a:focus,
		a:hover {
			background-color: $accent2;
			color: $base3;
		}
		a:active {
			background-color: $accent3;
			color: $base3;
		}
	}
}
*/