/* ==========================================================================
   Helpers
   ========================================================================== */

/* In the interest of keeping the stylesheet small, a lot of helper classes
 * are included here.
 */

.no-list {
	list-style-type: none;
	padding-left: 0;
}

.font-regular {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}

.grey,
.grey a,
.grey a:visited {
	color: $base01;
}
.grey a:focus,
.grey a:hover {
	color: $accent2;
}
.grey a:active {
	color: $accent3;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.text-upper {
	//letter-spacing: .33ex;
	text-transform: uppercase;
}

/* Colors
   ========================================================================== */

.dark {
	background-color: $base03;
	color: $base3;

	code,
	kbd,
	samp {
		background-color: rgba( $base01, .33 );
		color: $base2;
	}
}
.dark-text {
	color: $base03;
}
.orange {
	background-color: $accent1;
	color: $base3;

	a,
	a:visited {
		&,
		code,
		kbd,
		samp {
			color: $base2;
		}
	}
	a:focus,
	a:hover,
	a:active {
		&,
		code,
		kbd,
		samp {
			color: $base3;
		}
	}

	code,
	kbd,
	samp {
		background-color: rgba( $base3, .13 );
		color: $base3;
		color: rgba( $base3, .88 );
	}
}
.orange-text {
	color: $accent1;
}
.light {
	background-color: $base3;
	color: $base03;
}
.light-text {
	color: $base3;
}