/* ==========================================================================
   Shame
   ========================================================================== */

/* For stuff that doesn't yet have a home. Be _ashamed!_
 */

/* CSS "Flipping" card.
 * Learned this one from Desandro:
 * http://desandro.github.io/3dtransforms/docs/card-flip.html
 */

.portrait-container {
	height: 15em;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
	@include perspective( 15em );
	width: 15em;

	&:focus,
	&:hover {
		.card {
			@include transform( rotateY( 180deg ) );
		}
	}
}
	.card {
		height: 100%;
		position: absolute;
		@include transform-style( preserve-3d );
		@include transition( transform .4s ease-in );
		width: 100%;

		.front,
		.back {
			background-repeat: no-repeat;
			background-size: 15em 15em;
			@include backface-visibility( hidden );
			@include border-radius( 15em );
			height: 100%;
			position: absolute;
			width: 100%;
		}
		.front {
			background-image: url( "../img/portrait.jpg" );
		}
		.back {
			background-image: url( "../img/portrait-flipped.jpg" );
			@include transform( rotateY( 180deg ) );
		}
	}

/* Navigation Links
 *
 * Intended to help navigation on small-screened devices.
 */

.nav-link {
	@extend .small, .sans;

	display: block;
	font-weight: 700;
	padding: .5em 0;
	text-align: right;
	text-decoration: none;

	@include media_query_1 {
		opacity: .5;
		padding: 1em 0 0 0;
		//text-align: center;

		&:focus,
		&:hover,
		&:active {
			opacity: 1;
		}
	}
	@include media_query_2 {
		@include transition-property( color, opacity );
	}
}

/* Questions
 */

.question {
	padding: 1em 0;

	@include media_query_1 {
		padding: 2em 0;
	}
}
	.question-text {
		@extend .sans, .xxx-large;

		margin-bottom: 1em;
		text-align: center;


	}

#question-2 {
	@extend .dark;

	ol {
		h2 {
			letter-spacing: .167ex;
			margin-bottom: 0;
		}
		p {
			margin-top: 0;
		}
	}
}
#question-3 {
	@extend .orange;

	
}
#question-4 {
	background-color: $base2;
	overflow: hidden;
	width: 100%;
}
.ob-link,
.ob-link:visited {
	border: 1em solid mix( $base01, $base2, 25% );
	@include border-radius( $border_radius );
	@include box-sizing( border-box );
	display: block;

	@include media_query_1 {
		margin: 0 0 1em 4%;
		position: relative;
		z-index: 100; // Combat an unresolved issue with `blockquote`
	}
	@include media_query_2 {
		-webkit-transition-property: background, border-color, color, -webkit-transform;
		   -moz-transition-property: background, border-color, color, -moz-transform;
		     -o-transition-property: background, border-color, color, -o-transform;
		        transition-property: background, border-color, color, transform;
	}
}
.ob-link:focus,
.ob-link:hover {
	border-color: $accent2;

	@include media_query_2 {
		.no-touch & {
			@include transform( scale( 1.05 ) );
		}
	}
}
.ob-link:active {
	border-color: $accent3;

	@include media_query_2 {
		.no-touch & {
			@include transform( scale( 1.05 ) );
		}
	}
}

/* Phone Link */

.phone-link,
.phone-link:visited {
	background-color: $accent1;
	@include border-radius( $border_radius / 1em * 1rem );
	color: mix( $base3, $accent1, 84% );
	display: inline-block;
	margin: .25em 0;
	padding: .25em;
	text-decoration: none;
}
.phone-link:focus,
.phone-link:hover {
	background-color: $accent2;
	color: $base3;
}
.phone-link:active {
	background-color: $accent3;
	color: $base3;
}

/* Keep line lengths short. They flow a bit long.
 */

#question-1,
#question-3,
#question-5 {
	ol,
	p,
	ul {
		&:not([class]) {
			@include tighten-up;
		}
	}	
}
#question-2 {
	ol {
		@include tighten-up;
	}
}