/* ==========================================================================
   Shame
   ========================================================================== */

/* For stuff that doesn't yet have a home. Be _ashamed!_
 */

.portrait-container {
	height: 15em;
	position: relative;
	@include perspective( 0 );
	width: 15em;

	&:focus,
	&:hover {
		.card {
			@include transform( rotateY( 180deg ) );
		}
	}
}
	.card {
		height: 100%;
		position: absolute;
		@include transform-style( preserve-3d );
		@include transition( transform .4s ease-in );
		width: 100%;

		.front,
		.back {
			background-repeat: no-repeat;
			background-size: 15em 15em;
			@include backface-visibility( hidden );
			@include border-radius( 15em );
			height: 100%;
			position: absolute;
			width: 100%;
		}
		.front {
			background-image: url( "../img/portrait.jpg" );
		}
		.back {
			background-color: red;
			@include transform( rotateY( 180deg ) );
		}
	}

/* Give the `section`s some padding:
 */

@for $i from 1 through 5 {
	#question-#{$i} {
		&::before {
			content: "#{$i}";
		}
	}
}

.question {
	padding-top: 1em;
	padding-bottom: 1em;

	&::before {
		@extend .xxxxx-large, .sans;

		display: none;
	}

	@include media_query_2 {
		overflow: hidden;
		padding-top: 2em;
		padding-bottom: 2em;
		position: relative;

		.wrapper {
			position: relative;
			z-index: 1;
		}

		&::before {
			background-color: mix( $base2, $base3 );
			@include border-radius( 2em );
			color: $base3;
			display: block;
			font-weight: 700;
			line-height: 1;
			margin: 0;
			padding: .5em 0;
			position: absolute;
				top: -.5em;
				left: -.5em;
			text-align: center;
			width: 2em;
			z-index: 0;
		}
		
	}
}


/* And colors:
 */

#question-2 {
	@extend .dark;
}
#question-3 {
	@extend .orange;
}
#question-4 {
	@extend .dark;
}