/* ==========================================================================
   Shame
   ========================================================================== */

/* For stuff that doesn't yet have a home. Be _ashamed!_
 */

.portrait-container {
	height: 15em;
	position: relative;
	@include perspective( 0 );
	width: 15em;

	&:focus,
	&:hover {
		.card {
			@include transform( rotateY( 180deg ) );
		}
	}
}
	.card {
		height: 100%;
		position: absolute;
		@include transform-style( preserve-3d );
		@include transition( transform .4s ease-in );
		width: 100%;

		.front,
		.back {
			background-repeat: no-repeat;
			background-size: 15em 15em;
			@include backface-visibility( hidden );
			@include border-radius( 15em );
			height: 100%;
			position: absolute;
			width: 100%;
		}
		.front {
			background-image: url( "../img/portrait.jpg" );
		}
		.back {
			background-color: red;
			@include transform( rotateY( 180deg ) );
		}
	}

/* Navigation Links
 *
 * Intended to help navigation on small-screened devices.
 */

.nav-link {
	@extend .small, .sans;

	display: block;
	font-weight: 700;
	padding: .5em 0;
	text-align: right;
	text-decoration: none;

	@include media_query_1 {
		display: none;
	}
}

/* Questions
 */

.question {
	padding: 1em 0;
}
#question-2 {
	@extend .dark;
}
#question-3 {
	@extend .orange;
}
#question-4 {
	background-color: $base2;
}