/* ==========================================================================
   Sizes
   ========================================================================== */

body {
	font-size: 87.5%;

	@include media_query_1 {
		font-size: 100%;
	}
}

.xx-large {
	font-size: 300%;
}