@import url("http://fonts.googleapis.com/css?family=Domine|Fjalla+One");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * urls
 */
/* 
 * images
 */
/*
 * fonts
 */
/*
 * colors
 */
/* line 46, ../../sass/screen.scss */
body {
  font-family: 'Fjalla One', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-image: url('../img/cream_pixels.png');
}

/* line 52, ../../sass/screen.scss */
.copy {
  margin: 40px 0 48px;
}

/* line 56, ../../sass/screen.scss */
header {
  background: rgba(101, 101, 101, 0.8);
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  min-height: 60px;
  padding-top: 40px;
  border-bottom: solid 1px #000;
}
/* line 64, ../../sass/screen.scss */
header a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 68, ../../sass/screen.scss */
header a:hover {
  color: #f0e8d0;
}

/* line 73, ../../sass/screen.scss */
footer {
  min-height: 120px;
  background-color: #353433;
  padding-top: 20px;
  color: rgba(229, 229, 229, 0.8);
  font-size: 0.9em;
  border-top: 24px solid #656565;
}
/* line 81, ../../sass/screen.scss */
footer a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 85, ../../sass/screen.scss */
footer a:hover {
  color: #f0e8d0;
}

/* line 90, ../../sass/screen.scss */
.container {
  height: 100%;
  margin: 0 auto;
  width: 940px;
}
@media screen and (max-width: 940px) {
  /* line 90, ../../sass/screen.scss */
  .container {
    margin: 4px;
    width: auto;
  }
}

/* line 103, ../../sass/screen.scss */
a {
  color: #888888;
  text-decoration: none;
}

/* line 107, ../../sass/screen.scss */
a:hover {
  color: #ffad99;
}

/* line 111, ../../sass/screen.scss */
.pull-right {
  float: right;
}

/* line 115, ../../sass/screen.scss */
p {
  margin-bottom: 6px;
}

/* line 119, ../../sass/screen.scss */
code {
  padding: 2px 4px;
  color: #656565;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #bbbbbb;
}

/* line 127, ../../sass/screen.scss */
section {
  margin: 24px 0 36px;
}

/* line 131, ../../sass/screen.scss */
ul, ol {
  padding: 0;
  margin: 0 0 10px 50px;
}

/* line 136, ../../sass/screen.scss */
ol {
  display: block;
  list-style-type: decimal;
}

/* line 141, ../../sass/screen.scss */
#answer {
  font-family: "Domine", serif;
  font-size: 18px;
  line-height: 30px;
}

/* line 147, ../../sass/screen.scss */
#question {
  font-family: "Fjalla One", sans-serif;
  font-size: 26px;
  color: #ff3300;
  margin-bottom: 12px;
  border-bottom: 1px solid #bbbbbb;
}

/* line 155, ../../sass/screen.scss */
.image-block {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 161, ../../sass/screen.scss */
.polaroid img {
  border: 1px solid rgba(91, 113, 120, 0.5);
  padding: 8px;
  background: #f0e8d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
