@import url(http://fonts.googleapis.com/css?family=Numans);
@import url(http://fonts.googleapis.com/css?family=Rochester);
* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.875em;
}

/*control elements nested in rows*/
/*
create row behavior*/
/*for the last element in a row, there's no gutter and we float it right*/
.test {
  margin: 0;
  background-image: url("../images/escheresque.png");
}
.test .question {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  zoom: 1;
  padding: 0;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  font-family: "Numans", sans-serif;
  width: 66%;
  margin-left: 15%;
  text-align: center;
  background-color: #15827a;
  margin-top: 1.5em;
  height: 4.5em;
  padding: 0 10px;
}
.test .question:before, .test .question:after {
  content: "";
  display: table;
}
.test .question:after {
  clear: both;
}
.test .question > div {
  float: left;
  margin-right: gutter;
  /*check this!*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*include our border-box mixin*/
}
.test .question:hover {
  margin-top: 0;
  margin-bottom: -1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  transition-duration: .7s;
  cursor: pointer;
}
.test .question h2 {
  font-size: 1.4em;
}
@media (max-width: 900px) {
  .test .question h2 {
    line-height: 130%;
  }
}
@media (max-width: 480px) {
  .test .question h2 {
    font-size: 0.65em;
  }
}
.test .question .answer {
  font-size: 0.75em;
  text-align: left;
}
@media (max-width: 900px) {
  .test .question .answer {
    line-height: 150%;
  }
}
@media (max-width: 480px) {
  .test .question .answer {
    line-height: 130%;
  }
}
.test .content {
  margin: 6em 0 4.5em 0;
  padding: 1.5em 0;
  background-color: floralwhite;
}
.test .title-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  zoom: 1;
  padding: 0;
  width: 100%;
  height: 12em;
}
.test .title-container:before, .test .title-container:after {
  content: "";
  display: table;
}
.test .title-container:after {
  clear: both;
}
.test .title-container > div {
  float: left;
  margin-right: gutter;
  /*check this!*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*include our border-box mixin*/
}
.test .title-container h1 {
  font-family: "Rochester", cursive;
  color: #cf2128;
  text-align: right;
  margin-top: -20px;
  padding: .75em 150px .75em 0;
  background: url("../images/needmore-logo.png") no-repeat right;
}
@media (max-width: 1600px) {
  .test .title-container h1 {
    font-size: 3.5em;
  }
}
@media (max-width: 900px) {
  .test .title-container h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 480px) {
  .test .title-container h1 {
    font-size: 1.5em;
  }
}
.test footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  zoom: 1;
  padding: 0;
  width: 100%;
  font-family: "Numans", sans-serif;
}
.test footer:before, .test footer:after {
  content: "";
  display: table;
}
.test footer:after {
  clear: both;
}
.test footer > div {
  float: left;
  margin-right: gutter;
  /*check this!*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*include our border-box mixin*/
}
.test footer a, .test footer .byline, .test footer .vertical-rhythm-button:hover {
  color: #cf2128;
}
.test footer .vertical-rhythm-button {
  background-color: #15827a;
}
.test footer .vertical-rhythm-button:hover {
  cursor: pointer;
}
