/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*Text*/
/*Divs, etc*/
/*Units*/
/*Responsive*/
/* line 17, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/_base.scss */
html {
  background: black url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 32, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 8, ../sass/screen.scss */
body {
  color: #d9d9d9;
  font-family: "Oxygen", sans-serif;
  font-size: 14pt;
  line-height: 20pt;
  font-weight: 300;
}
@media screen and (max-width: 720px) {
  /* line 8, ../sass/screen.scss */
  body {
    font-size: 12pt;
    line-height: 18pt;
  }
}

/* line 20, ../sass/screen.scss */
.container {
  width: 90%;
  max-width: 960px;
  margin: 5% auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 30px rgba(0, 0, 0, 0.3) solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  /* line 20, ../sass/screen.scss */
  .container {
    border: 10px rgba(0, 0, 0, 0.3) solid;
    padding: 10px;
  }
}

/* line 34, ../sass/screen.scss */
header#main {
  margin-bottom: 30px;
}

/* line 38, ../sass/screen.scss */
ol {
  list-style-type: decimal;
  margin-left: 40px;
}
/* line 41, ../sass/screen.scss */
ol li {
  margin: 0 0 10px 0;
}
/* line 43, ../sass/screen.scss */
ol li:last-child {
  margin: 0;
}

/* line 49, ../sass/screen.scss */
ul.main-list {
  margin: 0 20px;
}
@media screen and (max-width: 720px) {
  /* line 49, ../sass/screen.scss */
  ul.main-list {
    margin: 0 10px;
  }
}
/* line 54, ../sass/screen.scss */
ul.main-list > li {
  padding: 25px;
  margin: 30px 0;
  background-color: rgba(43, 46, 48, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  /* line 54, ../sass/screen.scss */
  ul.main-list > li {
    padding: 15px;
  }
}

/* line 65, ../sass/screen.scss */
footer {
  width: 100%;
  color: #bfbfbf;
  background-color: #000;
}

/*
Helpers
*/
/* line 74, ../sass/screen.scss */
.center-text {
  text-align: center;
}

/* line 1, ../sass/_typography.scss */
h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 15px 0;
  color: white;
}

/* line 8, ../sass/_typography.scss */
header h1 {
  font-size: 45pt;
  line-height: 50pt;
}
@media screen and (max-width: 720px) {
  /* line 8, ../sass/_typography.scss */
  header h1 {
    font-size: 35pt;
    line-height: 40pt;
  }
}

/* line 17, ../sass/_typography.scss */
h2 {
  font-size: 30pt;
  line-height: 34pt;
}
@media screen and (max-width: 720px) {
  /* line 17, ../sass/_typography.scss */
  h2 {
    font-size: 25pt;
    line-height: 30pt;
  }
}

/* line 26, ../sass/_typography.scss */
h3 {
  font-size: 22pt;
  font-weight: 500;
  line-height: 28pt;
  margin: 5px 0;
}
@media screen and (max-width: 720px) {
  /* line 26, ../sass/_typography.scss */
  h3 {
    font-size: 17pt;
    line-height: 23pt;
  }
}

/* line 37, ../sass/_typography.scss */
p {
  padding: 15px 0;
}
/* line 39, ../sass/_typography.scss */
p:last-child {
  padding: 0;
}
/* line 42, ../sass/_typography.scss */
p:only-of-type {
  padding: 15px 0;
}

/* line 47, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: #91caf2;
}
/* line 50, ../sass/_typography.scss */
a:hover {
  color: #8fa5b5;
  text-shadow: 1px 1px 3px #111111;
  -webkit-transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
  -moz-transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
  -o-transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
  transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
}

/* line 57, ../sass/_typography.scss */
span.tagline {
  display: inline-block;
  border: 2px solid #d9d9d9;
  padding: 3px 6px;
}

/* line 63, ../sass/_typography.scss */
.question {
  font-style: italic;
}

/* line 67, ../sass/_typography.scss */
footer p {
  font-size: 10pt;
}
