/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/screen.scss */
body {
  color: #333333;
  background: #aaaaaa;
  font-family: 'Noto Serif', sans-serif;
  font-size: 16pt;
  line-height: 24pt;
}

/* line 16, ../sass/screen.scss */
.container {
  width: 90%;
  max-width: 960px;
  margin: 3% auto;
  background: white;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 5px blue;
  -moz-box-shadow: 0px 0px 5px blue;
  box-shadow: 0px 0px 5px blue;
}

/* */
/* line 37, ../sass/screen.scss */
ol {
  counter-reset: li;
  /* Initiate a counter */
}

/* line 41, ../sass/screen.scss */
ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 0 40px;
  /* Give each list item a left margin to make room for the numbers */
  list-style: none;
  /* Disable the normal item numbering */
  background: #f6f6f6;
}

/* line 48, ../sass/screen.scss */
ol.main-list > li {
  margin: 20px 20px 20px 40px;
  padding: 15px;
}

/* line 53, ../sass/screen.scss */
ol > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: 0;
  left: -40px;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  background: lightblue;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

/* line 70, ../sass/screen.scss */
ol.main-list > li:before {
  font-size: 30pt;
  padding: 0px 10px;
}

/* line 76, ../sass/screen.scss */
li ol,
li ul {
  margin-top: 6px;
}

/* line 77, ../sass/screen.scss */
ol ol li:last-child {
  margin-bottom: 0;
}

/**/
/* line 81, ../sass/screen.scss */
.odd {
  background-color: #dddddd;
}

/*
Helpers
*/
/* line 88, ../sass/screen.scss */
.center-text {
  text-align: center;
}

/* line 1, ../sass/_typography.scss */
h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 15px 0;
}

/* line 7, ../sass/_typography.scss */
h1 {
  font-size: 40pt;
  line-height: 44pt;
}

/* line 12, ../sass/_typography.scss */
h2 {
  font-size: 30pt;
  line-height: 34pt;
}

/* line 17, ../sass/_typography.scss */
h3 {
  font-size: 20pt;
  line-height: 24pt;
  margin: 5px 0;
}

/* line 23, ../sass/_typography.scss */
a {
  background-color: pink;
  text-decoration: none;
  padding: 2px;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  color: #333333;
}
/* line 29, ../sass/_typography.scss */
a:hover {
  background-color: purple;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/* line 33, ../sass/_typography.scss */
span.tagline {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

/* line 40, ../sass/_typography.scss */
.question {
  font-style: italic;
}
