/* ==========================================================================
   Colors
   ========================================================================== */

/* Base Colors
 *
 * These are the neutral tones that comprise backgrounds, text color, etc.
 * (I use the [Solarized](http://ethanschoonover.com/solarized) model for
 * colors.)
 */

$base03: #262120;
$base02: $base03;
$base01: #87837f;
$base00: $base01;
 $base0: $base01;
 $base1: #d8d4d2;
 $base2: $base1;
 $base3: #f2efeb;

/* Accent Colors
 *
 * Links, buttons, etc.
 */

$accent1: #d84c41;
$accent2: #c23632;
$accent3: #ac1f23;