/* ==========================================================================
   Colors
   ========================================================================== */

/* Base Colors
 *
 * These are the neutral tones that comprise backgrounds, text color, etc.
 */

$base03: #000000;
$base02: #333333;
$base01: #666666;
$base00: #999999;
 $base0: #aaaaaa;
 $base1: #cccccc;
 $base2: #dadada;
 $base3: #ffffff;

/* Accent Colors
 *
 * Links, buttons, etc.
 */

$accent1: #aa0000;
$accent2: #cc0000;
$accent3: #ff0000;

// Tests
$base03: #262120;
$base3: #e2d8cf;

$accent1: #d84c41;