/* ==========================================================================
   Variables
   ========================================================================== */

/* Media Widths
 *
 * For use in media queries
 */

$media_width_1: 30em;
$media_width_2: 48em;
$media_width_3: 60em;

$border_radius: .25em;